<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <label for="">Username</label>
        <input type="text" name="Username">
        <label for="">Password</label>
        <input type="password" name="Password">
        <button type="submit">Login</button>
    </form>
    <p>Not a User<a href="{% url 'signup' %}">SignUp</a></p>
</body>
</html>